.header1 {
    padding: 20px 0;
    background: #00009a;
    .container {
        margin: 0 auto;
        width: 1280px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container h1 a {
        font-size: 32px;
        color: lightgray;
        text-decoration: none;
        &:hover {
            color: darkgray;
        }
    }
    .container ul a {
        text-decoration: none;
        color: lightgray;
        font-size: 16px;
        font-weight: 400;
        &:hover {
            color: darkgray;
        }
    }
    .container ul {
        list-style-type: none;
        display: flex;
        gap: 12px;
    }
}

.header2 {
    padding: 20px 0;
    background: #2424ff;
    .container {
        margin: 0 auto;
        width: 1280px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}