.loginButton {
    background: none;
    border: none;
    cursor: pointer;
    color: lightgray;
    font-size: 16px;
    &:hover {
        color: darkgray;
        font-weight: 400;
    }
}
.profileGroup {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}
.profileButton, .cartButton, .favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
}
.profileMenu {
    position: absolute;
    top: 100%;
    left: 0;

    background: lightgray;
    padding: 8px 12px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    >button {
        background-color: lightblue;
        border: 1px solid lightslategrey;
        border-radius: 5px;
        cursor: pointer;
        padding: 4px;

        display: flex;
        align-items: center;
        gap: 8px;
        transition-duration: 0.4s;
        &:hover {
            background-color: cadetblue;
        }
        p {
            font-size: 16px;
            line-height: 16px;
        }
    }
}