.card {
    background-color: #0000c6;
    padding: 50px;
    border-radius: 15px;
    outline: 2px solid #101010;
    a {
        text-decoration: none;
        color: white;
    }
    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style-type: none;
    }



    min-height: 500px;
}
