.page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #444;
    box-shadow: 4px 4px 2px #444;
    background-color: white;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.group:not(:last-child) .title {
    font-size: 14px;
    font-weight: bold;
    color: #444;
}
.group:not(:last-child) input {
    padding: 2px 5px 2px;
    font-size: 16px;
    border-radius: 5px;
}
.group:not(:last-child) .errorMsg {
    color: red;
    font-size: 14px;
}
.errorBlock {
    background: #f47070;
    border: 1px solid #cc0000;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
}
.submit {
    border: none;
    background-color: #00a600;
    transition-duration: 0.4s;
    font-size: 16px;
    padding: 6px 4px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: #c36b01;
    }
}

.close {
    position: absolute;
    right: 4px;
    top: 0;
    color: #a11;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition-duration: 0.2s;
    font-size: 30px;
    &:hover {
        color: #822;
    }
}

.register {
    color: #2424ff;
    transition-duration: 0.2s;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
    &:hover {
        color: #00009a;
    }
}
